# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# macOS
.DS_Store

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
